Package: calculator
Version: 1.0.8
Architecture: amd64
Maintainer: Rdiffurissu
Depends: python3.11, python3-tk
Description: Простой калькулятор
 Кросс-платформенный калькулятор, созданный на Python 3.9